@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-poppins: "Poppins", sans-serif;
  --color-lightgray: #f4f4f4;
  --color-primary: #36209A;
  --color-secondary: #149DC2;
  --color-dark: #404040;
}
